@use "sass:color";

$bg: #1e1f29;
$fg: #f8f8f2;
$accent: #378DF7;
$radius: 15px;

window.Bar {
    border: none;
    box-shadow: none;
    background-color: $bg;
    border-radius: $radius;
    color: $fg;
    font-size: 1em;
    font-weight: bold;
    opacity: 0.85;

    button {
        all: unset;
        background-color: transparent;

        &:hover label {
            background-color: color.adjust($fg, $alpha: -0.84);
            border-color: color.adjust($accent, $alpha: -0.8);
        }

        &:active label {
            background-color: color.adjust($fg, $alpha: -0.8)
        }
    }

    button {
        all: unset;
        background-color: transparent;

        &:hover icon {
            background-color: color.adjust($fg, $alpha: -0.84);
            border-color: color.adjust($accent, $alpha: -0.8);
        }

        &:active icon {
            background-color: color.adjust($fg, $alpha: -0.8)
        }
    }

    label {
        transition: 200ms;
        padding: 0 8px;
        margin: 2px;
        border-radius: $radius;
        border: 1pt solid transparent;
    }

    icon {
        transition: 200ms;
        padding: 0 5px;
        margin: 0px;
        border-radius: $radius;
        border: 1pt solid transparent;
    }

    .Workspaces .focused label {
        color: $accent;
        border-color: $accent;
    }

    .FocusedClient {
        // color: $accent;
        color: #ff79c6
    }

    .Media .Cover {
        min-height: 1.2em;
        min-width: 1.2em;
        border-radius: $radius;
        background-position: center;
        background-size: contain;
    }
    .Indicator {
        * {
            all: unset;
        }

        .LeftIcon {
                transition: 200ms;
                padding-left: 5px;
                border-radius: $radius 0  0 $radius;
                border: 1pt solid transparent;
        }

        .MiddleIcon {
            padding: 10px;
            transition: 200ms;
            border: 1pt solid transparent;
        }

        .RightIcon {
                transition: 200ms;
                padding-right: 5px;
                border-radius:  0 $radius $radius 0;
                border: 1pt solid transparent;
        }
    }

    .Time {
        * {
            all: unset;
        }
        color: #f8f8f2;
        min-height: 30px;
        min-width: 100px;
    }
}