
window.bar {
    background-color: @theme_bg_color;
    color: @theme_fg_color;
    border-radius: 15px;
    opacity: 0.85;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    border-radius: 15px;
}

button:active {
    background-color: @theme_selected_bg_color;
}

button:hover {
    border-bottom: 3px solid @theme_fg_color;
}

label {
    font-weight: bold;
    margin-left: 5px;

}

.workspaces button.focused {
    border-bottom: 3px solid @theme_selected_bg_color;
    background-color: #3F4243;
}

.client-title {
    color: @theme_selected_bg_color;
}

.lan-ipaddress
{
    color: @theme_fg_color;
    min-height: 30px;
}

.notification {
    color: yellow;
}

levelbar block,
highlight {
    min-height: 10px;
}