* {
    font-family: "monospace";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: #282a36;
    border: 2px solid #ff79c6;
    border-radius: 14px;
    color: #e0e0e0;
}

#clock,
#network,
#pulseaudio,
#battery,
#tray {
    padding: 0 8px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
}

#clock {
    font-weight: bold;
    font-size: 16px;
}

#workspaces {
    /* background: #181825; */
    margin: 2px 4px;
    padding: 2px 6px;
    border-radius: 12px;
}

#workspaces button {
    padding: 2px 12px;
    margin: 0 3px;
    background: transparent;
    color: #7f849c;
    border-radius: 8px;
    font-size: 16px;
}

#workspaces button.active {
    background: #cba6f7;
    color: #1e1e2e;
    font-weight: bold;
}

#workspaces button.visible {
    color: #cdd6f4;
}

#workspaces button:hover {
    background: #44475a;
}

#window {
    padding: 0 8px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
    color: #ff79c6;
    font-size: 15px;
}

#custom-caffeine {
    padding: 0 8px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
    color: #cdd6f4;
    font-size: 16px;
}

#custom-caffeine.active {
    background: #cba6f7;
    color: #1e1e2e;
    font-weight: bold;
}

#battery {
    padding: 0 8px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
    font-size: 16px;
}

#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
    font-weight: bold;
}

#network {
    font-size: 15px;
}

#pulseaudio {
    font-size: 16px;
}

#tray {
    padding: 0 8px;
}

#custom-notification {
    padding: 0 8px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
    font-size: 18px;
}