* {
    font-family: "monospace";
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
}

tooltip {
    background: #000000;
}

tooltip label {
    color: white;
}

window#waybar {
    background: #282a36;
    border: 2px solid #ff79c6;
    border-radius: 14px;
    color: #e0e0e0;
}

#clock,
#network,
#pulseaudio,
#memory,
#backlight,
#battery,
#tray {
    padding: 0 2px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
}

#clock {
    font-weight: bold;
    font-size: 16px;
}

#workspaces {
    /* background: #181825; */
    margin: 2px 4px;
    padding: 2px 6px;
    border-radius: 12px;
}

#workspaces button {
    padding: 2px 12px;
    margin: 0 3px;
    background: transparent;
    color: #7f849c;
    border-radius: 8px;
    font-size: 16px;
}

#workspaces button.active {
    background: #cba6f7;
    color: #1e1e2e;
    font-weight: bold;
}

#workspaces button.visible {
    color: #cdd6f4;
}

#workspaces button:not(.active):hover {
    background: #44475a;
}

#window {
    padding: 0 8px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
    color: #ff79c6;
    font-size: 15px;
}

#custom-caffeine {
    padding: 0 8px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
    color: #cdd6f4;
    font-size: 16px;
}

#custom-caffeine.active {
    background: #cba6f7;
    color: #1e1e2e;
    font-weight: bold;
}

#battery {
    background: transparent;
    border-radius: 10px;
    font-size: 16px;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.warning {
    color: #f9e2af;
}

#battery.critical {
    color: #f38ba8;
    font-weight: bold;
}


#network {
    font-size: 16px;
}

#pulseaudio {
    font-size: 16px;
}

#custom-notification {
    padding: 0px 16px 0px 0px;
    margin: 2px 2px;
    background: transparent;
    border-radius: 10px;
    font-size: 18px;
}