// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};
$bg: #1e1f29;
$fg: #f8f8f2;
$radius: 15px;

window.Bar {
    background: transparent;
    background-color: $bg;
    color: $fg;
    font-weight: bold;
    border-radius: $radius;

    .centerbox {
        background: $bg-color;
        border-radius: 10px;
        margin: 8px;
    }

    .FocusedClient {
        // color: $accent;
        color: #ff79c6;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}